services:
  - type: worker
    name: buckduit-ai-core
    env: python
    startCommand: python buckduit_ai_core.py
    plan: free
    region: singapore
    autoDeploy: true
    envVars:
      - key: SUPABASE_URL
        sync: true
      - key: SUPABASE_SERVICE_KEY
        sync: true
      - key: PUBLIC_BASE_URL
        sync: true
      - key: TELEGRAM_BOT_TOKEN
        sync: true
      - key: TELEGRAM_CHAT_ID
        sync: true
