flask==3.0.3
flask-cors==4.0.0
gunicorn==21.2.0
python-dotenv==1.0.1
supabase==2.4.0
requests==2.32.3
websockets==13.1
python-telegram-bot==21.1.1
pydantic==2.9.2
numpy==1.26.4
scikit-learn==1.5.2
numpy==1.26.4
apscheduler==3.10.4
pytz==2024.1
cachetools==5.5.0
pandas==2.2.3
psycopg2-binary==2.9.9